{% extends 'errors.html' %}
{% load compressed %}

{% block title %}400 Error{% endblock %}

{% block head_styles %}
    {% compressed_css 'errors' %}
{% endblock head_styles %}

{% block pre_footer_scripts %}
{% endblock pre_footer_scripts %}

{% block container %}

    <div class="centered">
        <h1>Kn0c8 4no6k</h1>

        <h2>...Who's there?</h2>

        <p class="error_code">400</p>

        <p class="explanation">Bad request</p>

        <p>
            Now visit the <a href="/">home page</a>
        </p>
    </div>

{% endblock container %}
