cryptography
dateutils
django-braces
django-crispy-forms
django-pipeline
django-secure
django-vanilla-views
djangorestframework
gunicorn
markdown
newrelic
opbeat
psycopg2
six

https://github.com/miki725/breach_buster/archive/master.tar.gz
https://github.com/miki725/django-auxilium/archive/develop.tar.gz
