breach-buster
cryptography
dateutils
django-braces
django-crispy-forms
django-extensions
django-secure
django-vanilla-views
djangorestframework
fabric
gevent
gunicorn
importanize
markdown
newrelic
psycopg2
six
Werkzeug
-e git+http://github.com/miki725/django-auxilium@develop#egg=django_auxilium
-e git+http://github.com/miki725/django-pipeline@master#egg=django_pipeline
