<header class="clearfix">
    <div class="logo">
        <a href="{% url 'onetime:index' %}new/" class="brand">
            TNO
        </a>

        <div class="section">
            One Time Secret
        </div>
    </div>
    <ul>
        <li>
            <a href="{% url 'onetime:index' %}new/">+</a>
        </li>
        <li>
            <a href="{% url 'onetime:index' %}faq/">faq</a>
        </li>
        <li>
            <a href="https://github.com/miki725/tno">github</a>
        </li>
    </ul>
</header>
