<header class="clearfix">
    <div class="logo">
        <a data-ui-sref="new"
           class="brand">
            TNO
        </a>

        <a data-ui-sref="new"
           class="section">
            One Time Secret
        </a>
    </div>
    <ul>
        <li>
            <a data-ui-sref="new">+</a>
        </li>
        <li>
            <a data-ui-sref="faq">faq</a>
        </li>
        <li class="visible-xs-inline visible-sm-inline">
            <a href="https://github.com/miki725/tno"
               target="_blank">github</a>
        </li>
    </ul>
</header>
