{% extends 'base.html' %}
{% load angular %}
{% load compressed %}

{% block title %}One Time Secret | {{ block.super }}{% endblock %}

{% block ngapp %}ng-app="TrustNoOneApp"{% endblock %}

{% block pre_head_styles %}
    {% compressed_css 'onetime' %}
{% endblock pre_head_styles %}
{% block pre_footer_scripts %}
{% endblock pre_footer_scripts %}
{% block footer_scripts %}
    {% angular_template 'onetime/app/partials/message.html' '/message.html' %}
    {% angular_template 'onetime/app/partials/message-create.html' '/message-create.html' %}
    {% angular_template 'onetime/app/partials/message-created.html' '/message-created.html' %}
    {% angular_template 'onetime/app/partials/faq.html' '/faq.html' %}
    {% angular_template 'onetime/app/includes/password.html' '/includes/password.html' %}
    {% compressed_js 'onetime' %}
    <script>
        HOST_URL = '{{ request.scheme }}://{{ request.get_host }}';
    </script>
{% endblock %}

{% block pre_container %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1 ">
                {% include 'onetime/includes/header.html' %}
            </div>
        </div>
    </div>
{% endblock pre_container %}

{% block container %}
    <base href="{{ request.scheme }}://{{ request.get_host }}{% url 'onetime:index' %}">
    <div class="row">
        <div class="col-md-10 col-md-push-1">
            <div class="main">
                <div data-ui-view></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block post_container %}
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-push-1">
                {% include 'onetime/includes/footer.html' %}
            </div>
        </div>
    </div>

    <div id="fork-github" class="hidden-xs hidden-sm">
        <a href="https://github.com/miki725/tno">
            <img style="position: absolute; top: 0; right: 0; border: 0;"
                 src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67"
                 alt="Fork me on GitHub"
                 data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png">
        </a>
    </div>
{% endblock %}
